<%- include('./layout/Header.ejs')%>
    <div class="img">
        <div class="container text-center  p-5 ">
            <h1>Welcome <span class="text-success"> Express Diary</span></h1>
            <p>A Simple app made with express</p>
            <p>Version 1.0</p>
        </div>

    </div>
    <%- include('./layout/Footer.ejs')%>
   