    <%- include('./layout/Header.ejs')%>
    <div class="img img-fluid">
        <div class="text text-center p-5 ">
            <h1>Welcome to  <span class="text-success">Express Diary</span></h1>
            <p class="">Record your dialy Life</p>
            <a href="/diary" class="btn btn-success">Open Your Express diary</a>
        </div>
    </div>
    <%- include('./layout/Footer.ejs')%>

    
  